.main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .list {
    .info-list {

      .avatar {
        display: flex;
        justify-content: center;
      }
    }

    .signOut-btn {
      display: flex;
      justify-content: center;
    }
  }
}